:root {

		/* ------- colors ------- */
		--primary-color: #E0E0E0; /* Soft White Text */
		--secondary-color: #B0B0B0; /* Muted Gray */
		--tertiary-color: #323232; /* Dark Gray Border */
		--quaternary-color: #00ADB5; /* Cyan Accent */
		--link-color: #FFD369; /* Warm Yellow */
	
	/* ------- colors ------- */
		/* --tertiary-color: #acacb4; */
	/* --primary-color: #27272a;
	--secondary-color: #65656d;

	--tertiary-color: #1e1729;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6; */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
